﻿@using Eventures.Models
@model IEnumerable<Eventures.Models.EventModel>

<h1 style="text-align:center">All Events</h1>
<hr style="border: 3px solid black">

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Place</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var e in Model)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Name</td>
                    <td>@e.StartDate/td>
                    <td>@e.EndDate</td>
                    <td>@e.Place</td>
                </tr>

            }
        }

    </tbody>
</table>